<% breadcrumb :login %>
<h1 class="title">ログイン</h1>

<%= form_with scope: :session, local: true do |f| %>
<div class="form_item">
  <%= f.label :email, 'メールアドレス' %><%= f.text_field :email %>
</div>

<div class="form_item">
  <%= f.label :password, 'パスワード' %><%= f.password_field :password %>
</div>

  <%= f.submit 'ログイン' %>
<% end %>
