<% breadcrumb :posted_articles_user, @user %>
<h1 class="title"><%= @user.name %>さんが投稿した記事一覧</h1>
<div class="posted_articles_wrapper">
  <div class="articles">
    <% @articles.each do |a| %>
    <div class="article">
      <% if a.images.attached? %>
      <%= link_to image_tag(a.images.first), article_path(a), class: 'image' %>
      <% else %>
      <%= link_to image_tag(asset_url('no_image.png')), article_path(a), class: 'image' %>
      <% end %>
      <div class="overview">
        <p><%= link_to(a.name.slice(0..15) + '...', article_path(a)) %></p>
        <p><%= a.t_prefecture %> : <%= a.t_species %></p>
        <p><%= a.created_at.strftime('%Y-%m-%d %M:%H') %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
